# Unity generik
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/

# Crash / profiler
SysInfo.txt
*.stacktrace

# VS / Rider vs.
.vs/
*.user
*.csproj.user

# Unity cache
*/unity/AI_Race_Tracker/Library/
*/unity/AI_Race_Tracker/Temp/
