behaviors:
  CarFollowBC:
    trainer_type: ppo

    hyperparameters:
      batch_size: 1024
      buffer_size: 10240
      learning_rate: 3.0e-4
      beta: 5.0e-4
      epsilon: 0.2
      lambd: 0.95
      num_epoch: 3

    network_settings:
      normalize: true
      hidden_units: 256
      num_layers: 2

    reward_signals:
      extrinsic:
        gamma: 0.99
        strength: 1.0

    behavioral_cloning:
      demo_path: Assets/Demonstrations/carfollow01.demo
      steps: 150000
      strength: 1.0

    max_steps: 200000
    time_horizon: 64
    summary_freq: 10000
